<head>
    <link rel="stylesheet" type="text/css" href="pastEvents/pastEvents.css">
</head>

<body>
    <nav class="navbar navbar-inverse sidebar sideMenu" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
                <a class="navbar-brand" href="#!/main">Play Together</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#!/profilePage">Дневник<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
                    <li><a href="#!/main">Събития<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
                    <li><a href="#!/createEvent">Създай събитие<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
                    <li class="active"><a href="#!/pastEvents">Минали събития<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
                    <li><a href="#!/chat">Чат система<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
                    <li><a href="#!/contacts">Контакти<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
                    <li><a href="#!/donationPage">Помогни на PT<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
                    <li ng-click="logout()"><a>Изход<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main" ng-controller="PastEventsCtrl" style="padding-left: 50px;">
        <h2> Минали събития </h2>
        <div style="margin-bottom: 39px;">
        </div>
        <div class="col-md-12">
            <uib-accordion class="col-md-7" close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="{{event.sportType}}" ng-repeat="event in pastEvents">
                    <div class="row whenAndWhereInfo">
                        <span class="glyphicon glyphicon-calendar col-md-5" aria-hidden="true">
                        {{event.dateAndTime}}</span>
                        <span class="glyphicon glyphicon-map-marker col-md-7" aria-hidden="true">
                        {{event.location}}</span>
                    </div>
                    <div class="row whoInfo">
                        <span class="glyphicon glyphicon-user col-md-12" aria-hidden="true">
                   {{event.user}}</span>
                    </div>
                    <div class="row rateEvent">
                        <div class="col-md-4 rateEventHeader">
                            Оцени събитието:
                        </div>
                        <div id="stars-event" class="starrr col-md-6" data-rating='4'></div>
                    </div>
                    <div class="row rateOrganisator">
                        <div class="col-md-4 rateOrganisatorHeader">
                            Оцени организатора:
                        </div>
                        <div id="stars-organisator" class="starrr col-md-6" data-rating='4'></div>
                    </div>
                    <div class="row ratePlayground">
                        <div class="col-md-4 ratePlaygroundHeader">
                            Оцени спортния обект:
                        </div>
                        <div id="stars-playground" class="starrr col-md-6" data-rating='4'></div>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
</body>