.comment {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px; 
}
.page-header { position: relative; }
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.media-heading {
  color:navy;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 50px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { 
  margin-top: 35px;
  padding-left: 15px;
  margin-left: 0px;
}

.submit-comment-form {
  padding-top: 10px;
}