<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Register</h3>
</div>
<div class="modal-body" id="modal-body"> 
    <form name="$ctrl.editIdeaForm" class="form-validation">
        <div class="row modal-group">
            <div class="col-md-3">
                Username:
            </div>
            <div class="col-md-9">
                <input type="text" name="subject" class="ideaSubject form-control" ng-model="$ctrl.ideaSubject">
            </div>
        </div>
        <div class="row modal-group">
            <div class="col-md-3">
                Password:
            </div>
            <div class="col-md-9">
                <textarea name="summary" class="ideaSummary form-control" ng-model="$ctrl.ideaSummary" rows="3"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Register</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
